<p id="notice"><%= notice %></p>

<h1 class="heading">Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Username</th>
      <th>Email</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        
        <td><%= image_tag user.picture.url %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.age %></td>
        <td><%= user.sex %></td>
        <td><%= user.bio %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
