<div class="event thumbnail right-caption">

  <div class="event-image">
    <%= image_tag event.picture.url, :class => "img-rounded img-responsive" %>
  </div>

  <div class="event-title">
    <p><%= event.title %></p>
  </div>
  
  <div class="event-date">
    <p><%= event.date %></p>
  </div>

  <div class="event-attendance">
  <!-- Could be a bottleneck. Remember to remove -->
    <p><%= event.attendees.count %> people attending!</p>
  </div>

  <div class="event-desc caption">
    <%= event.description %>
  </div>

  <% if event.is_public %>
    <p>This event is public!</p>
  <% else %>
    <p>This event is private!</p>
  <% end %>

  <div class="button-group">
    <%= link_to 'Show', event, :class => "btn btn-primary" %>
    <% if event.owner_id == current_user.id %>
      <%= link_to 'Edit', edit_event_path(event), :class => "btn btn-default" %>
      <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
    <% end %>
  </div>
</div>