<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @event.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @event.longitude %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @event.is_public %>
</p>

<p>
  <strong>Media path:</strong>
  <%= @event.media_path %>
</p>

<div class="input-group">
  <input type="text" class="form-control" placeholder="Invite user by username">
  <span class="input-group-btn">
    <%= link_to "Invite!", invite_path, class: 'btn btn-default', method: :put, remote: true %>
  </span>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
